@using DPWVessel.Model.Resources
@{
    ViewBag.Title = "ImportUserData";
}

@*@using (Html.BeginForm("ImportUserData", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    <table>
        <tr><td>Excel file</td><td><input type="file" id="FileUpload1" name="file" /></td></tr>
        <tr><td></td><td><input type="submit" id="Submit" name="Submit" value="Submit" /></td></tr>
    </table>
}*@  



<div ng-controller="EquipmentsCtr" ng-init="init()">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Add Equipment Information</h3>
        </div>
        <div class="col-md-7 align-self-center">
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-primary">
                    <div class="card-body">

                        <div class="form-body">
                            <form>
                                <div class="col-md-8">
                                    <div class="row">
                                       
                                        <div class="col-md-4 form-group">
                                            <label class="control-label">Name</label><span class="required-starig text-danger">*</span>
                                            <input type="text" id="name" class="form-control" placeholder="" ng-model="eq.name">

                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Equiments Types</label><span class="text-danger required-starig"> *</span>
                                                <select class="form-select" ng-model="eq.equipmentsTypeId">
                                                    <option class="form-control"> Select Equiments Types</option>
                                                    <option class="form-control" id="equipmentsTypeId" ng-repeat="item in EqtyList"  value="{{item.id}}">{{ item.name }}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button type="button" ng-click="AddEquipments(eq)" class="Customebtn btnPrimary mr-10 pull-right"><span>Save</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

