@using DPWVessel.Model.Resources
@using DPWVessel.Model.EntityModel.Enums
@{
    ViewBag.Title = "Update EquipmentTypes";
}
<div ng-controller="EquipmentTypesCtr" ng-init="initEdit()">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Edit EquipmentTypes Information</h3>
        </div>
        <div class="col-md-7 align-self-center">
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-primary">
                    <div class="card-body">

                        <div class="form-body">
                            <form>
                                <div class="col-md-8">
                                    <div class="row">
                                        <input type="hidden" id="id" class="form-control" placeholder="" ng-model="item.id">
                                        <div class="col-md-4 form-group">
                                            <label class="control-label">Name</label><span class="required-starig text-danger">*</span>
                                            <input type="text" id="name" class="form-control" placeholder="" ng-model="item.name">

                                        </div>
                                      


                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button type="button" ng-click="EditEquipmentType(item)" class="Customebtn btnPrimary mr-10 pull-right"><span>Save</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>