@using DPWVessel.Model.Resources
@{
    ViewBag.Title = "Index";
}

<div ng-controller="EquipmentsCtr" ng-init="init()">
    <!--for Page Title-->
    <div class="page-title">
        <div class="flex">
            <div class="Flex-coumn"><h4><i class="fas fa-file-alt"></i>  Equipments</h4></div>
            <div class="Flex-coumn">
                <button type="button" class="Customebtn btnSuccess pull-right mr-10"
                        data-bs-toggle="collapse"
                        data-bs-target="#Filters"
                        aria-expanded="false"
                        aria-controls="Filters">
                    <span>Filters</span>
                </button>
                <a type="button" href="@Url.Action("Add","Equipments")" class="Customebtn btnPrimary mr-10 pull-right"><span>Add</span></a>
            </div>
        </div>
        <hr />
    </div>
    <!--End-->
    <!--Filter Collapse-->
    <div class="card collapse" id="Filters">
        <div class="card-header">
            Filters
        </div>
        <div class="card-body">
            <form id="SerachForm">
                <div class="row">
                    <div class="col-md-3">

                        <div class="form-group">
                            <label>Id</label>
                            <input type="text" class="form-control" placeholder="Id" ng-model="search.id" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" ng-model="search.name" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group date">
                            <label>Start Date</label>
                            <input type="text" class="form-control" style="width: 100%; " id="startDate" ng-model="search.createdAt" placeholder="dd/mm/yyyy">
                            <span style="position: absolute; right: 0; top:50%" class="input-group-addon h-auto"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label>End Date</label>
                            <input type="text" class="form-control" style="width: 100%;" id="endDate" ng-model="search.updateAt" placeholder="dd/mm/yyyy">
                            <span style="position: absolute; right: 0; top:50%" class="input-group-addon h-auto"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Equiments Types</label>
                            <select class="form-select" ng-model="search.equipmentTypeId">
                                <option class="form-control"> Select Equiments Types</option>
                                <option class="form-control" id="equipmentsTypeId" ng-repeat="item in EqtyList" value="{{item.id}}">{{ item.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 float-right">
                        <div class="form-group">
                            <button type="button" onclick="reload()" class="Customebtn btnSecondary mr-10 pull-right mt-20"><span>Reset</span></button>
                            <button type="button" ng-click="FilterEquipments(search)" class="Customebtn btnPrimary  mr-10 pull-right mt-20"><span>Serach</span></button>
                            <button type="button" ng-click="ToExportExcel(search)" class="Customebtn btnSecondary  mr-10 pull-right mt-20"><span>Export into Excel</span></button>
                            <button type="button"data-bs-toggle="modal" data-bs-target="#ImportExcelModal" class="Customebtn btnSuccess  mr-10 pull-right mt-20"><span>Import From Excel</span></button>
                            
                            @*  <button id="ExportXL" name="ExportXL" type="button" value="Export to Excel" onclick="location.href='@Url.Action("ExportToExcel", "Equipments")'" >Export</button>*@
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <!--Filter Collapse End-->
    <!--  table Start -->
    <div class="card">
        <div class="card-header">
            Details
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>S no</th>
                        <th> Id</th>

                        <th>Type Name</th>
                        <th> Name</th>
                        <th> Create At</th>
                        <th> Create By</th>
                        <th> Update At</th>
                        <th> Update By</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="item in EqList  | filter :search">
                        <td>{{$index + 1}}</td>
                        <td>{{item.id}}</td>
                        <td class="d-none">{{item.equipmentTypeId}}</td>
                        <td>{{item.equipmentTypeName}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.createdAt | date: 'dd/MM/yyyy'}}</td>
                        <td>{{item.createdBy}}</td>
                        <td>{{item.updatedAt | date: 'dd/MM/yyyy'}}</td>
                        <td>{{item.updatedBy}}</td>

                        <td>
                            <div class="list-icons">
                                <a ng-click="EditHref(item.id)" class="list-icons-item color-gray"><i class="icon-pencil7" title="Edit"></i></a>
                                <a ng-click="PrintHref(item.id)" class="list-icons-item text-default"><i class="icon-printer" title="Print Report"></i></a>
                            </div>
                        </td>

                    </tr>
                    <tr ng-if="!EqList || (EqList | filter :search).length === 0">
                        <td colspan="{{ 9 }}" class="text-center">No data found</td>
                    </tr>
                </tbody>
            </table>
            @*<nav aria-label="..." class="pull-right">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item " aria-current="page">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>*@
        </div>
    </div>
    <div class="modal fade" id="ImportExcelModal" aria-labelledby="ImportExcelModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" style="display: none;" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ImportExcelModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="ExcelFile">Select Excel File</label>
                    <input type="file" id="ExcelFile" ng-model="file.ExcelFile" class="form-control"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="Customebtn btnSecondary" data-bs-dismiss="modal"><span>Close</span></button>
                    <button type="button" class="Customebtn btnPrimary" ng-click="ToImportExcel(file)"><span>Import</span></button>
                </div>
            </div>
        </div>
    </div>
    <!--Table End-->
</div>
<script src="~/Scripts/DatePicker/jquery.min.js"></script>
<script src="~/Scripts/DatePicker/bootstrap-datepicker.js"></script>
<script>
    function reload() {
        console.log('SerachForm Clear')
        location.reload();

    }
    $('#startDate').datepicker({
        format: "dd/mm/yyyy",
        autoclose: true,
        todayBtn: "linked",
        todayHighlight: true,
        forceParse: true,
    });
    $('#endDate').datepicker({
        format: "dd/mm/yyyy",
        autoclose: true,
        todayBtn: "linked",
        todayHighlight: true,
        forceParse: true,
    });

</script>