@using DPWVessel.Model.Resources
@using DPWVessel.Model.EntityModel.Enums
@{
    ViewBag.Title = "Reset password confirmation";
    Layout = null;
    <link href="@Url.Content("~/Content/css/libs/bootstrap/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/helper.css")" rel="stylesheet">
}

<div id="main-wrapper">
    <div class="unix-login">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="login-content card">
                        <div class="login-form">
                            <img src="~/Content/images/DPWVessel.png" class="login-img">
                           @* <h4>Create a new account.</h4>*@
                            <form>
                              
                                <p>
                                    Your password has been reset.<b></b> Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
 a.active, button.active, a:focus, button:focus, a:hover, button:hover {
    color: #f28d2c;
    outline: none!important;
    text-decoration: none!important;
}
 a, button {
    outline: none!important;
    text-decoration: none!important;
    font-weight: bold;
    color: #f28d2c;
    transition: all 0.2s ease 0s;
}
</style>
