@using DPWVessel.Model.Resources
@{
    ViewBag.Title = "Index";
}
<div ng-controller="UsersCtr" ng-init="init()">
    <!--for Page Title-->
    <div class="page-title">
        <div class="flex">
            <div class="Flex-coumn"><h4><i class="fas fa-file-alt"></i>  Users</h4></div>
            <div class="Flex-coumn">
                <button type="button" class="Customebtn btnSuccess pull-right mr-10" 
                       data-bs-toggle="collapse" 
                       data-bs-target="#Filters" 
                       aria-expanded="false" 
                       aria-controls="Filters"><span>Filters</span>
                </button>
                <a type="button" href="@Url.Action("RegisterUser","Account")" class="Customebtn btnPrimary mr-10 pull-right"><span>Add</span></a>
            </div>
        </div>
        <hr />
    </div>
    <!--End-->

    <!--Filter Collapse-->
    <div class="card collapse" id="Filters">
        <div class="card-header">
            Filters
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>User Id</label>
                        <input type="text" class="form-control" placeholder="Id" ng-model="search.Id" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Name" ng-model="search.FullName" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="Email" ng-model="search.Email" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Login Id</label>
                        <input type="text" class="form-control" placeholder="Login Id" ng-model="search.LoginId" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Status</label>
                        <select data-placeholder="Status" class="form-control select-clear" ng-model="search.Status" data-fouc>
                            <option></option>
                            <option value="true">Active</option>
                            <option value="false">NotActive</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Applications</label>
                        <select data-placeholder="Applications" class="form-control select-clear" ng-model="search.UsersApplication" data-fouc>
                            <option></option>
                            <option ng-repeat="a in AppList" value="{{a.AppName}}">{{a.AppName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>User Role</label>
                        <select data-placeholder="User Role" ng-model="search.UserType" class="form-control select-clear" required data-fouc>
                            <optgroup label="Common Role">
                                <option disabled selected ng-repeat="r in Roles" ng-if="r.Id==0" value="{{r.Text}}">Select Role</option>
                                <option ng-repeat="r in Roles" ng-if="r.Id==1" value="{{r.Text}}">{{r.Text}}</option>
                                <option ng-repeat="r in Roles" ng-if="r.Id==2" value="{{r.Text}}">{{r.Text}}</option>
                            </optgroup>
                            <optgroup label="VESSEL Roles">
                                <option ng-repeat="r in Roles" ng-if="r.Id==0" value="{{r.Text}}">Select Role</option>
                                <option ng-repeat="r in Roles" ng-if="r.Id==3" value="{{r.Text}}">{{r.Text}}</option>
                            </optgroup>
                            <optgroup label="JIP Roles">
                                <option ng-repeat="r in Roles" ng-if="r.Id==0" value="{{r.Text}}">Select Role</option>
                                <option ng-repeat="r in Roles" ng-if="r.Id!='1' && r.Id!='2' && r.Id!='3' && r.Id!='5'" value="{{r.Text}}">{{r.Text}}</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 float-right">
                    <div class="form-group">
                        <button type="button" onclick="reload()" class="Customebtn btnSecondary mr-10 pull-right mt-20"><span>Reset</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Filter Collapse End-->

    <!--  table Start -->
    <div class="card">
        <div class="card-header">
            Details
        </div>
       <div class="card-body">
           <table class="table table-striped" id="userTable">
               <thead>
                   <tr>
                       <th>User Id</th>
                       <th>Full Name</th>
                       <th>Email</th>
                       <th>Login Id</th>
                       <th>User Role</th>
                       <th>Applications</th>
                       <th>Status</th>
                       <th>Action</th>
                   </tr>
               </thead>
               <tbody>
                   <tr ng-repeat="user in UserList  | filter :search">
                       <td>{{user.Id}}</td>
                       <td>{{user.FullName}}</td>
                       <td>{{user.Email}}</td>
                       <td>{{user.LoginId}}</td>
                       <td>
                           <span ng-repeat="s in user.UserType">{{$index+1}}) {{s}}<br /></span>
                       </td>
                       <td>
                           <span ng-repeat="s in user.UsersApplication">{{$index+1}}) {{s}}<br /></span>
                       </td>

                       <td>
                           <span ng-if="user.Status == true" class="badge badge-success">Active</span>
                           <span ng-if="user.Status == false" class="badge badge-danger">NotActive</span>
                       </td>
                       <td>
                           <div class="list-icons">
                               <a ng-click="EditHref(user.Id)" class="list-icons-item color-gray"><i class="icon-pencil7" title="Edit"></i></a>
                               <a ng-click="ResetHref(user.Id)" class="list-icons-item text-default"><i class="icon-key" title="Change Password"></i></a>
                           </div>
                       </td>
                   </tr>

               </tbody>
           </table>
          
       </div>
    </div>
    <!--Table End-->
</div>

