@using DPWVessel.Model.Resources

@using DPWVessel.Model.EntityModel.Enums
@{
    ViewBag.Title = "Register User";
}


<div ng-controller="UsersCtr" ng-init="initEdit()">
    <div class="page-title">
        <div class="flex">
            <div class="Flex-coumn"><h4><i class="fas fa-user"></i>Reset User Password</h4></div>
        </div>
        <hr />
    </div>
    <div class="card">
               <div class="card-header">
                   Form
               </div>
               <div class="card-body">
                   <div class="row p-t-20">
                       <div class="col-md-3">
                           <div class="form-group">
                               <label class="control-label">Email*</label>
                               <input type="text" id="Email" class="form-control" placeholder="{{data.Email}}" ng-model="User.Email" value="{{data.Email}}" disabled>
                           </div>
                       </div>
                       <div class="col-md-3">
                           <div class="form-group">
                               <label class="control-label">User Name*</label>
                               <input type="text" id="Name" class="form-control" placeholder="{{data.Username}}" ng-model="User.Username" value="{{data.Username}}" disabled>
                           </div>
                       </div>
                       <div class="col-md-3">
                           <div class="form-group">
                               <label class="control-label">Password*</label>
                               <input type="password" id="Password" class="form-control" placeholder="" ng-model="User.Password" autofocus tabindex="1">
                               <small>Mininum 6 Characters Password Is Required</small>
                           </div>
                       </div>

                       <div class="col-md-3">
                           <div class="form-group">
                               <label class="control-label">Confirm Password*</label>
                               <input type="password" id="Confirm_Password" class="form-control" placeholder="" ng-model="User.ConfirmPassword" tabindex="2">
                           </div>
                       </div>
                       <div class="float-right col-md-12" style="margin-top:28px">
                           <button type="button" onclick="window.location='@Url.Action("Index","Users")'" class="Customebtn btnSecondary mr-10 pull-right"><span>Cancel</span></button>
                           <button type="button" ng-click="ResetPassword(User)" class="Customebtn btnPrimary mr-10 pull-right"><span>Change Password</span></button>
                       </div>
                   </div>
               </div>
           </div>
</div>
      