@using DPWVessel.Model.Resources
@{
    ViewBag.Title = "ImportUserData";
}

@*@using (Html.BeginForm("ImportUserData", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    <table>
        <tr><td>Excel file</td><td><input type="file" id="FileUpload1" name="file" /></td></tr>
        <tr><td></td><td><input type="submit" id="Submit" name="Submit" value="Submit" /></td></tr>
    </table>
}*@  



<div ng-controller="StudentsCtr"  >
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Add Students</h3>
        </div>
        <div class="col-md-7 align-self-center">
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-12">
                <div class="card card-outline-primary">
                    <div class="card-body">

                                <div class="form-body">
                                    <form>
                                        <div class="row">

                                            <div class="col-md-4 form-group">
                                                <label class="control-label">Name</label><span class="required-starig text-danger">*</span>
                                                <input type="text" id="name" class="form-control" placeholder="" ng-model="std.name">
                                            </div>
                                            <div class="col-md-4 form-group">
                                                <label class="control-label">Roll No</label><span class="required-starig text-danger">*</span>
                                                <input type="number" id="rollNo" class="form-control" placeholder="" ng-model="std.rollNo">
                                            </div>

                                            <div class="col-md-4 form-group">
                                                <label class="control-label">age</label><span class="required-starig text-danger">*</span>
                                                <input type="number" id="age" class="form-control" placeholder="" ng-model="std.age">
                                            </div>


                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <button type="button" ng-click="AddStudent(std)" class="Customebtn btnPrimary mr-10 pull-right"><span>Save</span></button>
                                                </div>
                                            </div>
                                        </div>
                                            
                                    </form>
                                    
                                </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

